$color-top-nav-bg: rgb(0, 146, 255);
$color-white:#ffffff;
$color-brand: rgb(0, 118, 255);
$color-primary: #28b458;
$color-orange: #FFA500;
$color-text1: rgb(119, 127, 162);
$color-logo-text: #231f20;
$color-sm-border:#d6d6d6;
$color-bg-white:#ffffff;
$color-bg-topbar:#beb5b5;
$color-pink:#ffc6ac;
$color-skyblue:#b9e1ff;
$color-lightblue:#c7d0ff;
$color-fr-trial:#010101;
$color-demo-btn:#10b857;
$color-prod-feat:#0075d9;
$color-tsk-head:#010101;
$color-pic-bg:#f2f2f2;
$color-form-text: #9b9b9b;
$color-brand-1:#10b857;
$color-text2: #555555;
$color-warning:#00baff;
$color-slider:#90d8f2;
$color-text3:#9b9b9b;
$color-text4:#000000;
$color-brand1: #10b857;
$color-brand4: #c7d0ff;
$color-header-line: #e5e5e5;
$color-red : red;
$color-error: #ec2d13;
$color-success: #28b458













